@{
    string username = ViewContext.HttpContext.Session.GetString("UserName");
    int? userId = ViewContext.HttpContext.Session.GetInt32("UserId");
    userId ??= -1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _06_FullName_Project_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_06_FullName_Project_WebApp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> @* template *@
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
       @if(userId == 0)
        {
            <div class="sidebar" data-color="orange" data-image="~/assets/img/sidebar-5.jpg">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="#" class="simple-text"> Electrical Wholesale Store </a>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Promotion" asp-action="Index">
                                <i class="nc-icon nc-chart-pie-35"></i>
                                <p>Promotion</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Commodity" asp-action="Index">
                                <i class="nc-icon nc-notes"></i>
                                <p>Commodity Manager</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                <i class="nc-icon nc-notes"></i>
                                <p>User Manager</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        @if(userId > 0)
        {
            <div class="sidebar" data-color="orange" data-image="~/assets/img/sidebar-5.jpg">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="#" class="simple-text"> Electrical Wholesale Store </a>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="nc-icon nc-chart-pie-35"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="Order" asp-action="Index">
                                <i class="nc-icon nc-circle-09"></i>
                                <p>Order</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }@if(userId < 0)
        {
            <div class="sidebar" data-color="orange" data-image="~/assets/img/sidebar-5.jpg">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="#" class="simple-text"> Electrical Wholesale Store </a>
                    </div>
                    <ul class="nav">
                    </ul>
                </div>
            </div>
        }
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"> @if (userId == 0)
                                    {
                                        <span class="no-icon">Hello Admin!!!</span>
                                    } @if (userId > 0)
                                    {
                                        <span class="no-icon">Hello + @username!!!</span>
                                    } @if (userId == null)
                                    {
                                        <span class="no-icon">Hello Stranger</span>
                                    } </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">Account</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @if (userId > 0)
                                    {
                                        <a class="dropdown-item" asp-controller="User" asp-action="Details">View Profile</a>
                                        <div class="divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                    } @if (userId == 0)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                    } @if (userId < 0)
                                    {
                                        <a class="dropdown-item" href="#">Login</a>
                                        <div class="divider"></div>
                                        <a class="dropdown-item" href="#">Register</a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <main role="main" class="pb-4"> @RenderBody() </main>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#"> Manh Duong </a>
                            </li>
                            <li>
                                <a href="#"> Thanh Nguyen </a>
                            </li>
                            <li>
                                <a href="#"> Hai Dang </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            © <script>
                                  document.write(new Date().getFullYear())
                            </script>
                            <a href="#">Team 6 PRN221</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="~/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="~/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="~/assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="~/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
</html>