@model ElecStore.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        /* The Modal (background) */
        .form-column {
            float: left;
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        .input-field {
            width: 100%; /* Set all input fields to 100% width */
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 110%; /* Full height */
            overflow: auto;
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        /* Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form asp-action="CreateUser" method="post">
                <h3>Create new user</h3>
                <div class="form-group">
                    <label for="newUserName">User Name:</label><br>
                    <input type="text" id="newUserName" name="newUserName" class="input-field" required><br><br>
                </div>

                <div class="form-group">
                    <label for="newPassword">Password:</label><br>
                    <input type="password" id="newPassword" name="newPassword" class="input-field" required><br><br>
                    <span id="passwordLengthValidation" class="text-danger" style="display: none;">Password must be at least 8 characters long.</span>
                </div>

                

                <input style="width: 200px;" type="submit" value="Create" />
            </form>
        </div>
    </div>
<h1 style="text-align:center;width:100%;">Welcome</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Login">
                            <div class="form-group">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <label asp-for="UserName">UserName:</label>
                                <input type="text" asp-for="UserName" class="form-control" required />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password:</label>
                                <input type="password" asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                
                            </div>

                        <button style="margin-top: 10px" type="submit" class="btn btn-primary btn-block m">Login</button>
                    </form>
                        @if (ViewBag.ErrorLogin)
                        {
                            <h7 style="color:red">Login fail! please check again your username and password</h7>

                            <br>

                            <br>
                        }
                        @if (ViewBag.UserNameExists)
                        {
                            <h4 style="color:red">User name already exists!</h4>

                            <br>

                            <br>
                        }
                        <a href="javascript:void(0)" id="myModalBtn">Sign up?</a>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../lib/jquery/dist/jquery.min.js"></script>
<script src="../lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {
        var modal = $("#myModal");
        var btn = $("#myModalBtn");
        var span = $(".close");

        btn.click(function () {
            modal.css("display", "block");
        });

        span.click(function () {
            modal.css("display", "none");
        });

        window.onclick = function (event) {
            if (event.target == modal[0]) {
                modal.css("display", "none");
            }
        }

        $("#newPassword").keyup(function () {
            var password = $(this).val();
            var passwordLengthValidation = $("#passwordLengthValidation");

            if (password.length < 8) {
                passwordLengthValidation.css("display", "inline");
            } else {
                passwordLengthValidation.css("display", "none");
            }
        });
    });


</script>

</html>